<h1>Your Favorite Questions:</h1>
{{#each favoriteQuestion.questions as |question|}}
  {{#link-to 'question' question.id}}
  {{question.author}} Says: {{question.comment}}
  {{/link-to}}
  <br>
{{/each}}