<h1>New Question:</h1>
<div>
  <form>
		<div class="form-group col-md-6">
			{{input type="text" placeholder="Name" value=author class="name-input form-control"}}
		</div>

		<div class="form-group">
			{{textarea type="textarea" class="materialize-textarea" placeholder="Question" value=comment class="msg-input form-control"}}
		</div>

		<div class="form-group">
			{{textarea type="textarea"  class="materialize-textarea" placeholder="Notes" value=notes class="msg-input form-control"}}
		</div>


    <button {{action 'save1'}} class="submit btn btn-primary">Ask Question</button>
  </form>
</div>



 
