/*http://www.color-hex.com/color-palette/20090*/

form{
	width: 50%;
}
.container{
	margin-left: 5%;
}
.heading{
	content-align: center;
	font-family: 'PT Sans Narrow', sans-serif;
}
body{
	font-family: 'Raleway', sans-serif;
}
.nav-bar{
	margin-left: 42%;
}
.question-display{
	border: solid 1px;
	padding-bottom: 5%;
	color: #cccccc;
}
.question-image{
	padding-left: 5%;
	padding-top: 5%;
}

.love{
	padding-left: 22%;
}
nav{
	height: 72px;
}

.links-menu{
	padding-bottom: 15px;
}


.nav-wrapper{
	background: #57ae94;
	margin: 2%;
}

.question-display{
	padding-top: 15px;
	overflow-y: scroll;
	height: 500px;
	max-height: 500px;
	width: 500px;
}
.title{
	font-family: 'Anonymous Pro', 15;
	height: 300px;
	top: 150px;
}

.content{
	margin: 2%;
}

